@use '../config/reset.scss';
@use '../config/variables.scss';
@use '../config/colors.scss';

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;

    .product-item img {
        border-radius: 16px;
    }
    
    .product-button {
        display: block;
        background-color: colors.$buttonColor;
        color: colors.$branco;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;

        &:hover{
            background-color: colors.$buttonHoverColor ;
        }
        
    }
}